# NeedRail production environment
NEEDRAIL_RPC_URL=
NEEDRAIL_RPC_BASE=https://mainnet.base.org
NEEDRAIL_RPC_ETHEREUM=https://eth.llamarpc.com
NEEDRAIL_ERC8004_STUB=0
NEEDRAIL_EAS_RECEIPT_SCHEMA=
NEEDRAIL_EAS_COMPLETION_SCHEMA=
NEEDRAIL_ERC8183_ONCHAIN=0
NEEDRAIL_ERC8183_CONTRACT=0x16213AB6a660A24f36d4F8DdACA7a3d0856A8AF5
NEEDRAIL_FACILITATOR_URL=https://x402.org/facilitator
NEEDRAIL_CREATE_DEPOSIT=0.5
NEEDRAIL_CLAIM_DEPOSIT=0.25
